<div ng-app="blog">
  <div class="view-container">
  <section class="row">
    <div flash-alert active-class="in alert" class="fade">
      <span class="alert-message">{{flash.message}}</span>
    </div>
  </section>
  <section class="auth row">
    <ul>
      <li ng-show="!user.id"><a ng-href="/sign_in">Sign in</a></li>
      <li ng-show="user.id"><a ng-click='signOut()'>Sign out</a></li>
    </ul>
  </section>
    <div ng-view class="view-frame animate-view"></div>
  </div>
</div>