<div class="container">
  <section class="row"> 
    <section class="content">
      <nav class="local-nav categories-list">
        <ul class="list-unstyled">
          <li ng-repeat="category in categories">
            <span ng-click="scrollTo(category.name);">{{category.name}}</span>
          </li>
        </ul>
      </nav>
      <h1>All Categories</h1>
      <ul>
        <li ng-repeat="category in categories">
          <section class="category">
            <h1 id="{{category.name}}">{{category.name}}</h1>
            {{category.content}}
            <ul>
              <li ng-repeat="post in category.posts">
                <article class="post-tile">
                  <h2><a ng-href="/posts/{{post.id}}">{{post.blurb}}</a></h2>
                </article>
              </li>
            </ul>
          </section>
        </li>
      </ul> 
    </section>
  </section>
</div>